.footer {
  background-color: #0D0D0D;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  background-color: #333;
  color: #f7f7f7;
}

.footerleft, .footerright {
  display: flex;
  flex-direction: column;
  color: #f7f7f7;

}